@model Jop_Offers_Website.Models.Job

@{
    ViewBag.Title = "Details";
    ViewBag.SubBannerTitle = "تفاصيل الوظيفة";
    ViewBag.SubBannerUrl = "Job Details";
    Layout = "~/Views/Shared/_SubLayout-1.cshtml";
}

<div class="update-profile-form container" style="width: 45.3333%;">
    <div class="row" style="direction: rtl;">
        <div class="dashboard-list col">
            <h3 class="heading">تفاصيل الوظيفة</h3>
            <div class="dashboard-message contact-1">
                <div class="row" style="direction: rtl;">
                    <div class="col-lg-12">
                        <div class="form-group form-inline">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.category.CategoryName)
                            </div>
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.category.CategoryName)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group form-inline">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.JobName)
                            </div>
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.JobName)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group form-inline">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.JobContent)
                            </div>
                            <div class="col-md-9">
                                @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.JobContent).ToString()))
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group form-inline">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.jobImage)
                            </div>
                            <div class="col-md-9">
                                <img src="~/Uploads/@Html.DisplayFor(model => model.jobImage)"
                                     class="thumbnail"
                                     style="width:100%; max-height: 370px;" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-12 form-footer">
                    <div class="send-btn">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" })
                    </div>
                    <div class="back-to-home">
                        @Html.ActionLink("العوده الى القائمه مره أخرى", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>