@model Jop_Offers_Website.Models.Job

@{
    ViewBag.Title = "Edit";
    ViewBag.SubBannerTitle = "تعديل تفاصيل الوظيفة";
    ViewBag.SubBannerUrl = "Edit Job Details";
    Layout = "~/Views/Shared/_SubLayout-1.cshtml";
}


<div class="update-profile-form container" style="width: 45.3333%;">
    <div class="row" style="direction: rtl;">
        <div class="dashboard-list col">
            <h3 class="heading">تعديل تفاصيل الوظيفة</h3>
            <div class="dashboard-message contact-1">

                @using (Html.BeginForm("Edit", "jobs", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @*// دى رسالة ايرور لو مختارش صورة*@
                        <div class="alert alert-danger" id="error-div" style="display:none">
                            <span id="view-err">

                            </span>

                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.jobImage)




                        <div class="form-group form-inline">
                            @Html.LabelFor(model => model.JobName, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.JobName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.JobName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            @Html.LabelFor(model => model.JobContent, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.JobContent, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.JobContent, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            @Html.LabelFor(model => model.jobImage, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <label id="custom-file-upload">
                                    Upload   <i class="fa fa-upload"></i>
                                    <input type="file" name="upload" id="myImage" />
                                </label>
                                @*<input type="file" name="upload" id="myImage" />*@
                                @Html.ValidationMessageFor(model => model.jobImage, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            @Html.LabelFor(model => model.CategoryID, "نوع الوظيفة", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-12 form-footer">
                            <div class="send-btn">
                                <button id="save" type="submit" class="btn btn-md button-theme">حفظ</button>
                            </div>
                            <div class="back-to-home">
                                <a href="~/Jobs/">العوده الى القائمه مره أخرى</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@*اسكربت علشان اتأكد قبل م اضغط ع الزر انه اختار صورة مش سابها فاضيه علشام ميحصلش ايرور*@
@section scripts{
    <script>
        $(function () {
            $("#save").click(function () {

                //// 1- check if the input is empty
                //if ($("#jobImage").val() == "") {
                //    $("#error-div").fadeIn();
                //    $("#view-err").append("يجب عليك اختيار صورة");
                //    return false;
                //}

                if ($("#myImage").val() != "") {
                    // 2- check if the Image exention is valid
                    var filename = document.getElementById("myImage").value;
                    var extentsionImg = filename.substr(filename.lastIndexOf('.') + 1);
                    var validExtensions = ['jpg', 'JPG', 'png', 'gif', 'bmp'];
                    if ($.inArray(extentsionImg, validExtensions) == -1) {
                        $("#error-div").fadeIn();
                        $("#view-err").append("يجب عليك اختيار صورة ذات امتداد صحيح");
                        return false;
                    }

                    //3- check if the image size is valid (2 mb)
                    var myFileSize = document.getElementById("myImage").files[0].size / 1024 / 1024;

                    if (myFileSize > 1) {
                        $("#error-div").fadeIn();
                        $("#view-err").append("يجب عليك اختيار صورة حجمها اقل من 2 ميجا بايت");
                        return false
                    }
                }

            });
        });
    </script>
}
