@model Jop_Offers_Website.Models.ApplyForJob

@{
    ViewBag.Title = "Details Of Job";
    ViewBag.SubBannerTitle = "تفاصيل الوظيفة";
    ViewBag.SubBannerUrl = "Job Details";
    Layout = "~/Views/Shared/_SubLayout-1.cshtml";
}

<div class="update-profile-form container" style="width: 100%;">
    <div class="row" style="direction: rtl;">
        <div class="dashboard-list col">
            <h3 class="heading">تفاصيل الوظيفة التى تقدمت اليها</h3>
            <div class="dashboard-message contact-1">
                <div class="col-lg-12">
                    <div class="form-group form-inline">
                        <div class="col-md-3">
                            @Html.DisplayNameFor(model => model.objJob.JobName)
                        </div>
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.objJob.JobName)
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div class="col-md-3">
                            نص الرسالة
                        </div>
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.Message)
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div class="col-md-3">
                            تاريخ الارسال
                        </div>
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.ApplyDate)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 form-footer">
                <div class="send-btn">
                    @Html.ActionLink("تعديل", "Edit", new { id = Model.Id }, new { @class = "btn button-theme" })
                </div>
                <div class="back-to-home">
                    @Html.ActionLink("العودة الى قائمة الوظائف", "GetjobByUser")
                </div>
            </div>
        </div>
    </div>
</div>

