@model Jop_Offers_Website.Models.ApplyForJob

@{
    ViewBag.Title = "Edit";
    ViewBag.SubBannerTitle = "تعديل الرسالة";
    ViewBag.SubBannerUrl = "Edit Message";
    Layout = "~/Views/Shared/_SubLayout-1.cshtml";
}

<div class="update-profile-form container" style="width: 100%;">
    <div class="row" style="direction: rtl;">
        <div class="dashboard-list col">
            <h3 class="heading">تعديل رسالة الوظيفة التى تقدمت اليها</h3>
            <div class="dashboard-message contact-1">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.JobId)
                        @Html.HiddenFor(model => model.UserId)

                        <div class="form-group form-inline">
                            @Html.LabelFor(model => model.JobId, "اسم الوظيفة", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Model.objJob.JobName
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            @Html.LabelFor(model => model.UserId, "اسم المستخدم", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Model.user.UserName
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            @Html.LabelFor(model => model.ApplyDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Model.ApplyDate

                            </div>
                        </div>

                        <div class="col-lg-12 form-footer">
                            <div class="send-btn">
                                <input type="submit" value="حفظ التعديلات" class="btn button-theme" />
                            </div>
                            <div class="back-to-home">
                                @Html.ActionLink("العودة الى القائمة", "GetjobByUser")
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>
