@model IEnumerable<Jop_Offers_Website.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<!-- #region for Display Categories and its jobs -->
@*هعرض اصناف الوظائف وبداخل كل صنف الوظائف بتاعته*@


<!-- #region Job section strat -->
<div class="job-section content-area">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-title-2">
                        <h1>@Html.DisplayFor(modelItem => item.CategoryName)</h1>
                        <a href="#" class="float-right baj">تصفح كل الوظائف</a>
                        <h5>@Html.DisplayFor(modelItem => item.CatehoryDescription)</h5>
                    </div>
                </div>
            </div>
            <!-- job box 2 start -->

            <div class="row Myrow">
                @foreach (var subItem in item.jobs)
                {
                    <div class="col-3 col-md-3 col-sm-3">
                        <div class="job-item-2">
                            <a class="icon" href="#">
                                <div class="company-logo">
                                    <img src="~/Uploads/@subItem.jobImage" alt="logo">
                                </div>
                            </a>
                            <h4><a href="@Url.Action("Details", "Home", new { jobId = subItem.Id })">@Html.DisplayFor(modelItem => subItem.JobName)</a></h4>
                            <div class="job-ad-item">
                                <ul>
                                    <li>@Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => subItem.JobContent).ToString()))</li>
                                </ul>
                            </div>
                            @Html.ActionLink("التفاصيل", "Details", new { jobId = subItem.Id }, new { @class = "apply-button" })
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
<!-- #endregion Job section strat -->