@model IEnumerable<Jop_Offers_Website.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron alert alert-info">
    <h3>مرحبا بك</h3>
    <p>يمكنك البحث عن الوظيفة الى تريدها من خلال جميع الاصناف. يمكنك نشر وظيفة وانتظار المتقدمين اليها ان كنت صاحب شركة او مؤسسه</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">المزيد من التفاصيل &raquo;</a></p>
</div>
<!-- #region for Display Categories and its jobs -->
@*هعرض اصناف الوظائف وبداخل كل صنف الوظائف بتاعته*@
@foreach (var item in Model)
{
    <div class="panel panel-info">
        <div class="panel-heading"><h1>@Html.DisplayFor(modelItem => item.CategoryName)</h1></div>
        <div class="row panel-body">
            <h5>@Html.DisplayFor(modelItem => item.CatehoryDescription)</h5>

            @foreach (var subItem in item.jobs)
            {
                // هعرض الوظائف بتاعت كل نوع
                <div class="col-md-3 thumbnail" style="margin-left:20px; margin-bottom:30px; min-height:380px;">
                    <img src="~/Uploads/@subItem.jobImage" />
                    <h3>@Html.DisplayFor(modelItem => subItem.JobName)</h3>
                    <h5>@Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => subItem.JobContent).ToString()))</h5>
                    @Html.ActionLink("التفاصيل", "Details", new { jobId = subItem.Id }, new { @class = "btn btn-primary" })
                </div>
            }
        </div>

    </div>
}
<!-- #endregion -->
