@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@*الكلاس ال فوق دا بيمثل ال roles*@

@{
    ViewBag.Title = "Roles";
    ViewBag.SubBannerTitle = "أنواع المستخدمين";
    ViewBag.SubBannerUrl = "Roles List";
    Layout = "~/Views/Shared/_SubLayout-1.cshtml";
}

<div class="update-profile-form container" style="width: 33.3333333%; font-family: myFont, Raleway-bold;">
    <div class="row" style="direction: rtl;">
        <div class="dashboard-list col">
            <h3 class="heading">أنواع المستخدمين</h3>
            <div class="dashboard-message contact-1">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>